.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  background-color: #e5e5e5;
}

.section__right {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section__right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.container {
  position: relative;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.slogan {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.slogan__content {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

.menu,
.header__titles {
  text-transform: uppercase;
}


.header__title:after,
.content__title:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -35px;
  width: 60px;
  height: 5px;
  background-color: #e8c300;
  border-radius: 50px;
}

.header {
  position: relative;
  padding-bottom: 82px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height:1.7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}

.menu {
  display: flex;
  margin-bottom: 180px;
}

.menu__list {
  position: absolute;
  display: flex;
  padding-top: 42px;
  padding-left: 45px;
}

.menu__list:last-child {
  right: 0;
}

.menu__list:before {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu__item {
  margin-right: 92px;
}

.menu__item:last-child {
  margin-right: 40px;
}

.menu__logo {
  transform: translateY(25px);
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__time {
  transform: rotateZ(180deg);
  writing-mode: tb-rl;
}

.header__titles {
  transform: translateX(20px);
  text-align: center;
  margin-bottom: 82px;
}

.header__title {
  position: relative;
  transform: translateY(10px);
  margin-bottom: 75px;
  font-size: 96px;
  line-height: 1;
}

.header__link {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  padding: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.header__link--accent {
  margin-right: 40px;
  background-color: #e8c300;
}

.header__item:not(:last-child) {
  margin-bottom: 20px;
}

.header__social {
  transform: translateY(10px);
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 0;
  border-radius: 50%;
}

.header__link--facebook {
  background-image: url('../images/icons/networks/facebook.svg');
}

.header__link--twitter {
  background-image: url('../images/icons/networks/twitter.svg');
}

.header__link--instagram {
  background-image: url('../images/icons/networks/instagram.svg');
}

.header__arrow {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  font-size: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-image: url('../images/icons/down-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

.header__arrow:before {
  content: "";
  position: absolute;
  top: -454px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 454px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__arrow:after {
  content: "";
  position: absolute;
  bottom: -82px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  height: 82px;
  background-color: rgba(255, 255, 255, 0.2);
}

.about,
.book {
  margin-bottom: 100px;
  color: #000000;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
}

.content--right {
  direction: rtl;
}

.content__title {
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-transform: uppercase;
}

.content__title:after {
  bottom: -20px;
}

.content__inner  {
  text-align: center;
  max-width: 600px;
  width: 100%;
  direction: ltr;
}

.content__inner--right {
  margin-right: 80px;
}

.content__bold {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}

.content__box {
  position: relative;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.content__box:before {
  content: "";
  position: absolute;
  top: 24%;
  width: 250px;
  height: 250px;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.content__box--left {
  margin-right: 80px;
}

.content__box--left:before {
  left: -26%;
}

.content__box--right:before {
  right: -26%;
}

.content__img {
  border-radius: 5px;
}

.book__time {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #333333;
  opacity: 0.5;
}

.book__time span,
.book__phone {
  font-weight: 700;
}

